<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HippololamusTweets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AD910E71C37279F00B62600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AD910FB1C37279F00B62600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AD911061C37279F00B62600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
